.form {
	position: fixed;
	right: 15px;
	bottom: 45px;
	z-index: 1;
	background-color: antiquewhite;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 10px 10px 20px darkgray;
}

.form > div:first-child {
	padding: 20px;
	border: 1px solid darkgray;
	border-radius: 20px;
}

.form > div:last-child {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.form > div > input {
	text-align: center;
	width: 200px;
	display: block;
	border-style: solid;
	margin: 10px 30px 30px 30px;
	border-radius: 10px;
	padding: 5px;
}

.form > div > textarea {
	display: block;
	margin: 10px 30px 30px 30px;
	max-height: 200px;
	max-width: 300px;
	border-radius: 10px;
	padding: 10px;
}

.form > div:last-child > button {
	background-color: lightgray;
	border: 1px solid darkgray;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	padding: 20px;
}
